/* 
 * SmartCart - jQuery cart plugin 
 * CSS Document
 *   
 * Home Pages:
 * http://fivelist.summerhost.info
 * http://tech-laboratory.blogspot.com
 * http://techlaboratory.wordpress.com
 *  
 * Date: 05-SEP-2009
 * Version: 0.95 beta
 */

body {
  font : normal 12px Arial, Helvetica, sans-serif;
  color:#0464BB; 
  margin:0;
  padding:0;
}
.scContainer {
	padding: 5px;
	width: auto;
	min-width: 890px;
	margin: 5px; 
	float:left;
 	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;  
  	position:relative;
	left: 5%;
  	right:5%;
  	-webkit-box-shadow: 2px 2px 7px 0px #151515;
	-moz-box-shadow: 2px 2px 7px 0px #151515;
	box-shadow: 2px 2px 7px 0px #151515;
	background-color: #22232C;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}
.scTitle {
	padding: 2px; 
	float:left;
	font-weight: bold; 
	margin-bottom: 3px; 
	float:left;
}
.scBtn, .scListItemRemove {
  background            : #191A20;
  color                 : #82859E;
  margin                : 0;
  padding               : 1px 5px 1px 5px;
  text-align            : center;
  border                : 0px solid #1F2028;    
  text-decoration       : none; 
  -moz-border-radius    : 20px;
  -webkit-border-radius : 20px;    
}
.scBtn:hover, .scListItemRemove:hover{
  background      : #191A20;
  color           : #FFFFFF;
  border          : 0px solid #1F2028; 
  text-decoration : none; 
  cursor		: pointer;
}
.scItemButton{
	float: right;
  	padding: 5px 10px 5px 10px;
}

.scText{ 
  border: 0px solid #1F2028; 
  background: #191A20;
  color: #82859E;
  width:25px;
  padding : 1px 5px 1px 5px;
}  
.scText:focus{ 
  border: 1px solid #EA8511; 
} 
.scCart { 
	padding: 10px 5px 5px 5px;
	width: 450px;
	margin: 5px;
	float:left;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;	
}
.scProductList {
	padding: 10px 5px 5px 5px;
	width: 400px;
	height:360px;
	overflow:auto;
	margin: 5px;
	float:left;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
}
.scCartList {
	position: relative;
	margin: 0;
	padding: 1px;
	height: 250px;
	overflow:auto;
}
.scCartListHead {
	padding: 0;
	margin: 1px 0 1px 0;
	height: 25px;
	font-weight: bold;
	color: #8D79F2;
	font-size: 14px;
}
.scCartListItem {
	position: relative;
	padding-left: 0;
	padding-right: 10px;
	list-style: none;
	background: #1F2028;
	margin: 5px 0px;
	line-height: 1em;
	color: #C9C3E6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.scCartListItem:hover {
	background-color: #C2E3F3;
	color: #22232C;
}
.scProductListItem {
	width:auto;
	margin:1px;
	background:#22232C;
	overflow:show;
	padding:5px 0px;   /*12px 0px 2px 5px;*/    
	color:#C9C3E6;
	text-align:left;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-color: #1F2028;
	border-top-style: solid;
	border-top-width: 4px;
}
.scProductListItem.first{
	border-top-width: 0px;
}
.prod_name{
	font-size: 14px;
}
.prod_desc{
	padding-left: 20px;
	padding-bottom: 10px;
}
.scProductSelect {
	display: none;
	visibility:hidden;
}
.scULList {
	margin: 0.25em 0 1em 0; 
	position: relative;
	display: block;
	padding-left: 0; 
	list-style: none;
	color: #C9C3E6; 
}
.scListItemLabel {
	padding: 5px; 
	display: block;
}
.scListItemRemove {
	position: absolute;
	right: 5px; 
	top: 3px; 
	padding: 5px 10px 5px 10px;
}

.cartQty, .cartTotal{
	text-indent: 20px;
}

.resultContainer{
	left: 0;
	right: 0;
}
